@font-face {
  font-family: 'Chiller';
  src: url('./assests/CHILLER.TTF') format('truetype');
}

body {
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute;
  top: 10%;
  left: 5%;
  animation: pop-up 5s linear 1;

  span {
    font-size: 12vh;
    margin: 0.8vh;
    color: #1C1C1C;
    font-family: "Chiller";

    &:nth-child(1) {
      animation: animate 1.5s forwards 5s;
    }

    &:nth-child(2) {
      animation: animate 1.5s forwards 5.25s;
    }

    &:nth-child(3) {
      animation: animate 1.5s forwards 5.5s;
    }

    &:nth-child(4) {
      animation: animate 1.5s forwards 5.75s;
    }

    &:nth-child(5) {
      animation: animate 1.5s forwards 6s;
    }

    &:nth-child(6) {
      animation: animate 1.5s forwards 6.25s;
    }

    &:nth-child(7) {
      animation: animate 1.5s forwards 6.5;
    }

    &:nth-child(8) {
      animation: animate 1.5s forwards 6.75s;
    }

    &:nth-child(9) {
      animation: animate 1.5s forwards 7s;
    }

    &:nth-child(10) {
      animation: animate 1.5s forwards 7.25s;
    }

    &:nth-child(11) {
      animation: animate 1.5s forwards 7.5s;
    }

    &:nth-child(12) {
      animation: animate 1.5s forwards 7.75s;
    }
  }
}

@keyframes animate {
  from {
    color: #000000;
  }

  to {
    color: #CB0000;
    text-shadow: 0 0 0.8vh #ffffff, 0 0 0.8vh #ffffff;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .game {
    margin-left: -20%;
    height: 100%;
    width: 140%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.feed {
  position: fixed;

  .container {
    .game {
      background-image: url('./img/feed-back.jpg');
      background-size: 80% 100%;
      background-position: 60% 0px;
      height:102vh;
      margin-top:-2vh;
    }
  }

  .button {
    font-size: 8vh;
    color: white;
    position: fixed;
    bottom: 15vh;
    right: 7vw;
    cursor: pointer;
    padding: 3vh 6vh;
    border-radius: 8vh;
    line-height: 5vh;
    font-size: 5vh;
    font-weight: bold;
    // border: 1px solid #414343;
    border: none;
    background-image: linear-gradient(-180deg, #000000 0%, #CB0000 100%);
    box-shadow: 0 3vh 3vh 0 rgba(185, 84, 25, 0.5),
      0 -0.5vh 3vh rgb(237, 92, 8) inset,
      0 2vh 1vh rgba(235, 127, 127, 0.4) inset,
      0 0.5vh 1vh 0 rgb(223, 81, 53) inset;

    &:active {
      box-shadow: 0px 0 0.8vh 0.8vh rgba(226, 19, 19, 0.2)
    }

    span {
      color: transparent;
      background-image: linear-gradient(0deg, #CB0000 0%, #FEFAFD 100%);
      -webkit-background-clip: text;
      // font-family: "Gruppo";
      font-family: "Chiller";
      background-clip: text;
      letter-spacing: 1.5vh;
      font-size: 6vh;
      filter: drop-shadow(0 0.6vh 0.6vh rgb(218, 0, 0));
    }

    &::before {
      content: "";
      display: block;
      height: 0.5vh;
      position: absolute;
      top: 1.5vh;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 17vh);
      // background: #fff;
      border-radius: 100%;
      opacity: 0.7;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
    }

    &::after {
      content: "";
      display: block;
      height: 0.5vh;
      position: absolute;
      bottom: 1.5vh;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 17vh);
      // background: #fff;
      border-radius: 100%;
      filter: blur(1px);
      opacity: 0.05;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
    }
  }
}

.Theme3 {
  height: 100vh;
  width: 100vw;
  animation: show 5s 0s 1;

  .back {
    width: 135vw;
    height: 162vh;
    margin-top: -27vh;
    overflow: hidden;
    background-image: url('https://www.androidauthority.com/wp-content/uploads/2022/02/The-Room-Old-Sins-best-puzzle-games-android.jpg');
    background-size: 100% 100%;
  }

  .clue-back {
    .knife {
      position: absolute;
      width: 7vw;
      height: 7vh;
      left: 37vw;
      top: 70vh;
      filter: brightness(50%);
    }

    .bible {
      position: absolute;
      width: 5.5vw;
      height: 8vh;
      left: 93vw;
      top: 84vh;
      filter: brightness(50%);
      transform: rotate(-15deg);
    }

    .keys {
      position: absolute;
      width: 1.8vw;
      height:9vh;
      left: 21vw;
      top: 108vh;
      filter: brightness(45%);
      transform: rotate(-5deg);
    }

    .jesus {
      position: absolute;
      height:10.5vh;
      width: 4vw;
      left: 71vw;
      top: 43vh;
      filter: brightness(90%);
      opacity: 60%;
    }

    .om {
      position: absolute;
      width: 5vw;
      height:10vh;
      right: -35vw;
      top: 33vh;
      filter: brightness(45%);
    }

    .water {
      position: absolute;
      width: 5vw;
      height:9vh;
      left: 46.5vw;
      top: 24.5vh;
      filter: brightness(45%);
    }
  }
}

.box3 {
  left: calc(50% - 50vh) !important;
  div{
    border: 1.2vh solid black !important;  
    background-image: url(./img/back.jpg) !important;
    .keys {
      width: 50% !important;
    }
    img {
      width: 90% !important;
    }
    span {
      color: rgb(216, 191, 128) !important;
    }
  }
}

.Theme2 {
  width: 100vw;
  height: 100vh;
  margin-top: -26vh;
  animation: show 5s 0s 1;

  .back {
    background-image: url('https://castleofchaos.com/wp-content/uploads/2017/05/asylums.jpg');
    background-size: 100% 100%;
    width: 120vw;
    height: 160vh;
  }

  .clue-back {
    .injection {
      position: absolute;
      width: 7vw;
      height: 9vh;
      left: 45vw;
      top: 53vh;
      filter: brightness(75%);
      transform: rotate(-30deg);
    }

    .syrup {
      position: absolute;
      width: 7.5vw;
      height: 16vh;
      left: 18vw;
      top: 3vh;
      filter: brightness(60%);
    }

    .medicines {
      position: absolute;
      width: 7vw;
      height: 10vh;
      left: 83vw;
      top: 66vh;
      filter: brightness(30%);
    }

    .medical-kit {
      position: absolute;
      width: 10vw;
      height: 16vh;
      left: 1vw;
      top: 48vh;
      filter: brightness(15%);
      transform: rotate(-10deg);
    }

    .scissor {
      position: absolute;
      width: 10vw;
      height: 22vh;
      right: -15vw;
      top: 68vh;
      filter: brightness(60%);
      transform: rotate(35deg);
    }

    .mask {
      position: absolute;
      width: 10vw;
      height: 21vh;
      right: -10vw;
      top: 42vh;
      filter: brightness(70%);
    }
  }
}

.box2 {
  left: calc(50% - 53vh) !important;

  div {
    background-image: url(./img/back2.jpg) !important;

    img {
      width: 100% !important;
    }
    span{
      color: rgb(158, 157, 157) !important;
    }
  }
}

.clue-box2 {
  height: 16.5vh !important;

  .timer {
    height: 15vh !important;
    width: 15% !important;
    background-image: url(./img/back2.jpg) !important;
    span {
      color: rgb(186, 185, 185) !important;
    }
  }
  .timer3{
    background-image: url(./img/back.jpg) !important;
    span {
      color: rgb(216, 191, 128) !important;
    }
  }

  .clues {
    width: 70% !important;
    height: 15vh !important;

    button {
      margin: 0.5vh !important;
      width: 32% !important;
      opacity: 100% !important;
      background-image: url(./img/back2.jpg) !important;
      box-shadow: none !important;
      border:0.5vh solid rgb(186, 185, 185) !important;

      span {
        color: rgb(186, 185, 185) !important;
      }
    }
  }
  .clues3{
    button{
      background-image: url(./img/back.jpg) !important;
      border:0.5vh solid rgb(216, 191, 128) !important;
      span {
        color: rgb(216, 191, 128) !important;
      }
    }
  }
}

.Theme1 {
  width: 100vw;
  height: 100vh;
  margin-top: -5vh;
  animation: show 5s 0s 1;

  .back {
    background-image: url('https://i.pinimg.com/originals/ab/20/47/ab20472dd2864bcf048200c098e739c9.jpg');
    background-size: 100% 100%;
    width: 120vw;
    height: 160vh;
  }

  .clue-back {
    .hammer {
      position: absolute;
      width: 10vw !important;
      height: 30vh !important;
      left: 24vw;
      top: 75vh;
      transform: rotate(-90deg);
      filter: brightness(40%);
    }

    .helmet {
      width: 12vw;
      height: 18.5vh;
      position: absolute;
      filter: brightness(50%);
      top: 20vh;
      left: 105vw;
    }

    .saw {
      width: 17vw;
      height: 16vh;
      position: absolute;
      filter: brightness(65%);
      top: 61vh;
      left: 50vw;
    }

    .tool-box {
      width: 15vw;
      height: 10vw;
      position: absolute;
      left: -1vw;
      top: 72vh;
      transform: rotate(-10deg);
      filter: brightness(20%);
    }

    .blood-written {
      position: absolute;
      width: 13vw;
      filter: brightness(70%);
      opacity: 60%;
      top: 21vh;
      left: 30vw;
    }
  }
}

.box {
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 0.5vh;
  left: calc(50% - 34vh);
  display: flex;

  div {
    height: 14vh;
    width: 14vh;
    padding: 1.75vh;
    margin: 0.7vh;
    border: 1.3vh solid black;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/back31.jpg);
    background-color: rgb(79, 3, 3);

    img {
      width: 15vh;
    }

    .hammer {
      width: 10vh;
      object-fit: cover;
    }

    .helmet {
      height: 12vh;
      margin-right: -20px;
      margin-top: -10px;
      object-fit: cover;
    }

    .saw {
      height: 5.8vh;
      object-fit: cover;
    }

    span {
      font-size: 8vh;
      font-weight: bold;
      font-family: "Chiller";
      color: rgb(253, 244, 238);
    }
  }
}

.clue-box {
  width: 100%;
  height: 18vh;
  position: fixed;
  display: flex;
  bottom: 0;

  .timer {
    height: 16.5vh;
    width: 12.5%;
    margin: 0.8vh;
    border: 1.5vh solid black;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/back31.jpg);

    span {
      font-size: 8.2vh;
      font-weight: bold;
      font-family: "Chiller";
      color: rgb(253, 244, 238);
    }

    .score {
      font-size: 5vh !important;
    }
  }

  .clues {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75%;

    button {
      width: 24%;
      padding: 1%;
      height: 7vh;
      border: none;
      border-radius: 5vh;
      box-sizing: border-box;
      opacity: 100%;
      background-image: url(./img/back31.jpg);
      border: 0.5vh solid black;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: rgb(253, 244, 238);
        font-size: 3.3vh;
        font-weight: bold;
        font-family: "Chiller";
        letter-spacing: 0.3vh;
        opacity: 100%;
      }
    }
  }
}

.Theme4 {
  position: fixed;

  .container {
    .game {
      position: absolute;
      background-image: url('./img/treasure-back.jpg');
      background-size: cover;
      height: 106vh;
      margin-top:-5vh;
    }
  }

  .key-boxes {
    position: absolute;
    width: 54vw;
    height: 30vh;
    display: flex;
    top: 35vh;
    left: 23vw;
    justify-content: space-between;

    .img-container {
      img {
        position:inherit;
        height: 30vh;
        object-fit: cover;
      }

      .box {
        cursor: pointer;
        z-index: 12;
      }

      div {
        background-image: url(./img/backlight.png);
        background-size: 30vh;
        height: 30vh;
        width: 28vh;
        background-repeat: no-repeat;
        position: relative;
        top: -31vh;
        left: 0px;
        animation: spin 1s linear infinite;
        .key {
          animation: spin1 1s linear infinite;
        }
      }
    }
  }
}

.lives {
  position: fixed;
  top: 1%;
  left: 1%;
  display: flex;

  img {
    width: 6.6vh;
    margin: 1.5vh 1vh;
  }
}

.Profile {
  position: fixed;
  right: 0;
  top: 0;
  transition: all 3s;

  button {
    font-family: "Chiller";
    color: #CB0000;
    position: relative;
    right: 1vw;
    top: 1vw;
    height: 11.3vh;
    width: 11.3vh;
    border-radius: 50%;
    border: none;
    padding: 0px;
    border-top: 0.7vh ridge #ffb000;
    border-left: 0.7vh groove #ffb000;
    border-right: 0.7vh ridge #ffb000;
    border-bottom: 0.7vh groove #ffb000;
    box-shadow: inset 0px 0px 0.7vh 0.5vh rgba(1, 1, 1, 0.3);
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0 0.7vh 0.7vh rgba(255, 255, 255, 0.2)
    }

    &:active {
      box-shadow: 0px 0 0.7vh 0.7vh rgba(255, 255, 255, 0.2)
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .profile {
    width: 40vw;
    height: 100vh;
    position: absolute;
    padding-top: 4vh;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 0.2vh solid rgba(0, 0, 0, 0.3);
    border-radius: 3vh;
    animation: show1 0.5s linear 1;
    box-shadow: 0 0.7vh 5vh rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cross {
      width: 6vh;
      position: absolute;
      top: 2.5vh;
      left: 2.5vh;
      cursor: pointer;

      &:active {
        box-shadow: 0 0.7vh 5vh rgba(0, 0, 0, 0.2);
        width: 5.5vh;
        top: 3vh;
        left: 3vh;
      }
    }

    .user-detail {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      animation: show2 0.5s linear 0s 1;

      div {
        width: 18vh;
        height: 18vh;
        animation: show2 0.5s linear 0s 1;
        border-top: 0.7vh ridge #ffb000;
        border-left: 0.7vh groove #ffb000;
        border-right: 0.7vh ridge #ffb000;
        border-bottom: 0.7vh groove #ffb000;
        box-shadow: inset 0px 0px 0.8vh 0.5vh rgba(1, 1, 1, 0.3);

        &:hover {
          box-shadow: 0px 0 0.8vh 0.8vh rgba(255, 255, 255, 0.2)
        }

        &:active {
          box-shadow: 0px 0 0.8vh 0.8vh rgba(255, 255, 255, 0.2)
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name {
        font-size: 10vh;
        font-family: 'Chiller';
        color: #CB0000;
        margin: 0;
      }

      p {
        color: rgb(253, 251, 225);
        font-size: 4vh;
        font-family: "Gruppo";
        margin: 0.8vh;
        margin-top:0.2vh;
        font-weight: bold;
        animation: show2 0.5s linear 0s 1;
      }
    }

    .logout {
      position: absolute;
      top: 4vh;
      right: 2vh;
      border-radius: 3vh;
      border: none;
      padding: 1.7vh 3vh !important;
      width: 15vh;
      height: 6vh;
      background-color: #cb0000;
      color: rgb(253, 251, 225);
      font-weight: bold;
      letter-spacing: 0.4vh;
      font-size: 3vh;
      box-shadow: 0px 0px 0.7vh red;
      animation: show2 0.5s linear 1;
      &:active {
        box-shadow: 0px 0 0.6vh 0.6vh rgba(255, 255, 255, 0.2)
      }
    }

    .leader-board {
      border: 0.2vh solid rgb(65, 64, 64);
      width: 90%;
      height: 100%;
      margin: 5%;
      padding: 1.5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      border-radius: 3vh;
      overflow: scroll;
      gap: 1.5vh;
      animation: show2 0.5s linear 1;

      h1 {
        color: white;
        margin: 0px;
        margin: 1vh;
        font-family: "Chiller";
        letter-spacing: 0.7vh;
        color: #e1d3d3;
      }

      .user {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        animation: show2 0.5s linear 0s 1;
        div {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 10.5vh;
            height: 10vh;
            object-fit: cover;
            border-radius: 50%;
            box-sizing: border-box;
            border-top: 0.7vh ridge #ffb000;
            border-left: 0.7vh groove #ffb000;
            border-right: 0.7vh ridge #ffb000;
            border-bottom: 0.7vh groove #ffb000;
          }

          p {
            font-size: 6vh;
            margin: 0;
            margin-left: 3vh;
            font-family: "Chiller";
          }
        }

        padding: 1vh 4vh;
        border-radius: 2vh;
        line-height: 5vh;
        font-size: 5vh;
        font-weight: 600;
        border:0.5vh solid rgb(84, 82, 82);
        background: rgba(199, 113, 113, 0.6);

        span {
          color: transparent;
          background-image: linear-gradient(0deg, #f0e8e3 0%, #FEFAFD 100%);
          -webkit-background-clip: text;
          background-clip: text;
          font-family: "Chiller";
          filter: drop-shadow(0 0.4vh 0.4vh rgb(102, 32, 0));
        }
      }

    }

    .leader-board::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 1.5vh;
      height: 15vh;
      background-clip: content-box;
      border: 0.2vh solid transparent;
    }

    .leader-board::-webkit-scrollbar {
      height: 100%;
      width: 1vh;
    }

    .leader-board::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

.Register {
  position: fixed;
  right: 0;
  top: 0;
  transition: all 3s;

  button {
    font-family: "Chiller";
    position: relative;
    right: 1vw;
    top: 1vw;
    height: 11.3vh;
    width: 11.3vh;
    border-radius: 50%;
    border: none;
    padding: 0px;
    border-top: 0.5vh ridge #ffb000;
    border-left: 0.5vh groove #ffb000;
    border-right: 0.5vh ridge #ffb000;
    border-bottom: 0.5vh groove #ffb000;
    box-shadow: inset 0px 0px 0.8vh 0.5vh rgb(0,0,0,0.3);
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0 0.6vh 0.6vh rgba(255, 255, 255, 0.2)
    }

    &:active {
      box-shadow: 0px 0 0.6vh 0.6vh rgba(255, 255, 255, 0.2)
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .top {
    height: 40% !important;
  }

  .register {
    width: 30vw;
    height: 86vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 0.3vh solid rgba(0, 0, 0, 0.3);
    border-radius: 2.5vh;
    animation: show3 0.5s linear 1;
    box-shadow: 0 0.7vh 5vh rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 0px;
    align-items: center;

    .cross {
      width: 6vh;
      position: absolute;
      top: 2.5vh;
      left: 2.5vh;
      cursor: pointer;

      &:active {
        width: 5.5vh;
        top: 3vh;
        left: 3vh;
        box-shadow: 0 0.8vh 5vh rgba(0, 0, 0, 0.2);
      }
    }

    p {
      color: white;
      animation: show2 0.5s linear 1;
      font-size: 2.5vh;
      span {
        color: #cb0000;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #757373;
        }
      }
    }

    .p {
      font-size: 8vh;
      color: #cb0000;
      font-family: "Chiller";
      margin: 0;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vh;
      height: 100%;
      width: 100%;
      animation: show2 0.5s linear 0s 1;

      input {
        padding: 1.5vh;
        border: none;
        border-bottom: 0.4vh solid black;
        width: 60%;
        background-color: rgb(48, 48, 48);
        color: white;
        font-size: 2vh;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      label {
        align-items: center;
        gap: 3vh;
        color: rgb(175, 175, 175);
        display: flex;
        cursor: pointer;

        img {
          width: 15vh;
        }

        span {
          font-weight: 500;
          font-size: 3vh;
          color: rgb(48, 48, 48);
        }
      }

      #gender {
        width: 60%;
        display: flex;
        justify-content: center;
        margin-left: -6vh;

        label {
          margin-left: -4vh;
          font-size: 3vh;
        }
      }

      button {
        background-color: #cb0000;
        color: white;
        border: none;
        border-radius: 0;
        width: 40%;
        height: 8vh;
        padding: 1.5vh;
        font-weight: bold;
        letter-spacing: 0.8vh;
        font-size: 3.5vh;
        cursor: pointer;
      }
      span{
        color:#cb0000;
        font-size: 3.5vh;
      }
      
    }
  }
}

.Stages {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;

  .container {
    .game {
      margin-top: -17vh;
      margin-left: -40vw;
      width: 180vw;
      height: 150vh;
      background-image: url('./img/stages-back1.jpg');
      background-size: cover;
      filter: brightness(60%);
    }
  }

  .stages {
    position: absolute;
    top: 27vh;
    left: 9vw;
    display: flex;
    justify-content: space-between;
    width:82vw;
    height:50vh;
    .border {
      border-top: 1vh ridge #ffb000;
      border-left: 1vh groove #ffb000;
      border-right: 1vh ridge #ffb000;
      border-bottom: 1vh groove #ffb000;
      box-shadow: inset 0px 0px 1.2vh 1vh rgba(1, 1, 1, 0.3);

      &:hover {
        box-shadow: 0px 0 1.2vh 1.2vh rgba(255, 255, 255, 0.2)
      }

      &:active {
        box-shadow: 0px 0 1.2vh 1.2vh rgba(255, 255, 255, 0.2)
      }

      margin:1.3vh;
      width:20vw;
      height:38vh;
      border-radius:3vh;

      div {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 3vh;
      }

      .lock {
        position: absolute;
        top: 28%;
        left: 30%;
        width: 15vh;
        object-fit: cover;
        height: 15vh;
        filter: brightness(200%);
      }
    }

    .dark {
      filter: brightness(30%);
    }

    .theme1 {
      background-image: url('https://i.pinimg.com/originals/ab/20/47/ab20472dd2864bcf048200c098e739c9.jpg') !important;
      background-size: cover;

    }

    .theme2 {
      background-image: url('https://castleofchaos.com/wp-content/uploads/2017/05/asylums.jpg') !important;
      background-size: cover;
    }

    .theme3 {
      background-image: url('https://www.androidauthority.com/wp-content/uploads/2022/02/The-Room-Old-Sins-best-puzzle-games-android.jpg') !important;
      background-size: cover;
    }

    .theme4 {
      background-image: url('./img/theme4.png') !important;
      background-size: cover;
    }

    .start {
      position: fixed;
      top: 73vh;
      left: 43vw;
      cursor: pointer;
      padding: 4vh 3vw;
      border-radius: 15vh;
      line-height: 4vh;
      font-size: 4vh;
      font-weight: bold;
      border: 0.2vh solid #414343;
      background-image: linear-gradient(-180deg, #000000 0%, #CB0000 100%);
      box-shadow: 0 2vh 2vh 0 rgba(185, 84, 25, 0.5),
        0 -0.5vh 3vh rgb(237, 92, 8) inset,
        0 1.5vh 1vh rgba(235, 127, 127, 0.4) inset,
        0 0.5vh 1vh 0 rgb(223, 81, 53) inset;

      &:hover {
        padding: 4.4vh 3.1vw;
        top: 72.6vh;
        left: 42.9vw;
      }

      &:active {
        box-shadow: 0px 0 0.7vh 0.7vh rgba(226, 19, 19, 0.2)
      }

      span {
        color: transparent;
        background-image: linear-gradient(0deg, #CB0000 0%, #FEFAFD 100%);
        -webkit-background-clip: text;
        font-family: "Chiller";
        background-clip: text;
        letter-spacing: 1.5vh;
        font-size: 6vh;
        filter: drop-shadow(0 0.5vh 0.5vh rgb(218, 0, 0));
      }

      &::before {
        content: "";
        display: block;
        height: 0.5vh;
        position: absolute;
        top: 1.5vh;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 20vh);
        border-radius: 100%;
        opacity: 0.7;
        background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
      }

      &::after {
        content: "";
        display: block;
        height: 0.5vh;
        position: absolute;
        bottom: 1.5vh;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 20vh);
        border-radius: 100%;
        filter: blur(1px);
        opacity: 0.05;
        background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
      }
    }
  }
}

.instructions {
  cursor: pointer;
  img {
    position: fixed;
    width: 10%;
    top: 2vh;
    left: 1vw;
    filter: brightness(70%);
  }

  .msg {
    animation: pop-up2 1s linear 1 !important;
    background-image: url("./img/treasure-back.jpg") !important;
    border-top: 1.5vh ridge #ffb000;
    border-left: 1.5vh groove #ffb000;
    border-right: 1.5vh ridge #ffb000;
    border-bottom: 1.5vh groove #ffb000;
    filter: brightness(100%) !important;

    p {
      margin-top: 0%;
      color: #cb0000;
    }

    .p {
      margin-top: -3%;
      color: #cb0000 !important;
    }

    button {
      color: white;
      background: #640e0e;
      border-top: 0.4vh solid #df9d9d;
      border-left: 0.4vh solid #daa3a3;
      border-right: 0.4vh solid #cb0000;
      border-bottom: 0.4vh solid #cb0000;

      &:active {
        box-shadow: 0px 0 0.5vh 0.5vh rgba(27, 26, 26, 0.2);
        border-right: 0.4vh solid #df9d9d;
        border-bottom: 0.4vh solid #daa3a3;
        border-top: 0.4vh solid #cb0000;
        border-left: 0.4vh solid #cb0000;
      }

      &:hover {
        color: #efdbdb;
        box-shadow: 0px 0 0.5vh 0.5vh rgba(27, 26, 26, 0.2);
      }
    }
  }
}

.Alert {
  position: absolute;
  background: rgb(203, 0, 0, 0.4);
  opacity: 40%;
  filter: blur(70px);
  backdrop-filter: blur(0.0002px);
  top: 0;
  transition: all 1s;
}

.lose-box {
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  height: 60vh;
  background: linear-gradient(#898484, #423939, #484848, #615d5c);
  border-radius: 3vh;
  border-top: 1vh ridge rgb(130, 127, 127);
  border-left: 1vh groove rgb(130, 127, 127);
  border-right: 1vh ridge rgb(130, 127, 127);
  border-bottom: 1vh groove rgb(130, 127, 127);
  box-shadow: inset 0px 0px 0.8vh 0.5vh rgba(1, 1, 1, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: pop-show 1s linear;

  .border-img {
    position: absolute;
    width: 100%;
    border-radius: 3vh;
    height: 100%;
    filter: grayscale(80%);
  }

  .lose {
    font-size: 15.38vh;
    color: #360d0d;
    font-family: "Chiller";
    margin: 0;
    margin-top: -5%;
    margin-bottom: 0%;
    text-shadow: 0px 2.5vh 0.3vh black;
  }

  .score {
    font-size: 5.4vh;
    font-family: "Gruppo";
    font-weight: bold;
    margin: 0px;
    color: rgb(213, 213, 213);
    margin-bottom: 1.5vh;
  }

  button {
    padding: 1vh 5vh;
    min-width: 10vh;
    background: rgb(65, 48, 48);
    color: rgb(197, 196, 196);
    font-size: 5vh;
    margin-top: 3vh;
    font-family: "Chiller";
    z-index: 1;

    &:hover {
      box-shadow: 0px 0 0.3vh 0.3vh rgba(255, 255, 255, 0.2);
    }

    &:active {
      box-shadow: 0px 0 0.3vh 0.3vh rgba(255, 255, 255, 0.2);
      color: grey;
    }
  }
}

.Win {
  position: absolute;
  background: rgba(0, 0, 0);
  opacity: 50%;
  filter: blur(50px);
  top: 0;
}

.border {
  border-top: 1vh ridge #ffb000 !important;
  border-left: 1vh groove #ffb000 !important;
  border-right: 1vh ridge #ffb000 !important;
  border-bottom: 1vh groove #ffb000 !important;
  background-image: url(./img/treasure-back.jpg) !important;
}

.win-box {
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  height: 60vh;
  background-image: url(./img/win-back.jpeg);
  background-size: 100% 100%;
  border-top: 1vh ridge rgb(215, 212, 212);
  border-left: 1vh ridge rgb(215, 212, 212);
  border-right: 1vh ridge rgb(215, 212, 212);
  border-bottom: 1vh groove rgb(215, 212, 212);
  box-shadow: inset 0px 0px 1vh 0.5vh rgba(121, 120, 120, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5vh;
  animation: pop-show 1s linear;
  box-shadow: 0px 0 0.5vh 0.5vh rgba(255, 255, 255, 0.2);
  padding: 3vh;
  box-sizing: border-box;

  .key-back {
    background-image: url(./img/backlight.png);
    background-size: cover;
    width: 40vh;
    height: 40vh;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    animation: spin 1s linear infinite;

    .key {
      animation: spin1 1s linear infinite;
      width: 39vh;
    }
  }

  .container {
    .game {
      margin-left: -35vh;
      margin-top: -2vh;
      width: 135vh;
      height: 65vh;
      z-index: -1;
    }
  }

  .border-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .win {
    font-size: 15vh;
    text-shadow: 0px 0px 1.7vh black,
      0px 0px 20px black,
      0px 0px 30px black,
      0px 0px 40px black,
      0px 0px 50px black;
    color: #fff;
    font-family: "Chiller";
    margin: 0;
  }

  .level {
    font-size: 6vh;
    font-family: "Chiller";
    font-weight: bold;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 1.5vh #cb0000;
    letter-spacing: 0.5vh;
  }

  .score {
    font-size: 5.25vh;
    font-family: "Gruppo";
    font-weight: 800;
    margin: 0;
    color: rgb(249, 208, 208);
    text-shadow: 0px 1.5vh 1vh black;
  }

  .theme4 {
    margin-top: -1.6vh !important;
    width: 85% !important;

    .button {
      cursor: pointer;
      position: relative;
      padding: 2vh 6vh;
      border-radius: 8vh;
      line-height: 5vh;
      font-size: 5vh;
      font-weight: 600;
      border: 0.3vh solid #cb0000;
      background-image: linear-gradient(-180deg, #cb0000 0%, #9b0808 100%);
      box-shadow: 0 1rem 1.25rem 0 rgba(122, 7, 5, 0.5),
        0 -0.25rem 1.5rem rgb(145, 22, 3) inset,
        0 0.75rem 0.5rem rgba(114, 47, 47, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(144, 31, 5) inset;

      span {
        color: transparent;
        background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
        -webkit-background-clip: text;
        background-clip: text;
        filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
      }

      &::before {
        content: "";
        display: block;
        height: 0.5vh;
        position: absolute;
        top: 1vh;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 4vw) ;
        background: #fff;
        border-radius: 100%;
        opacity: 0.7;
        background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
      }

      &::after {
        content: "";
        display: block;
        height: 0.5vh;
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 20vh);
        background: #fff;
        border-radius: 100%;

        filter: blur(1px);
        opacity: 0.05;
        background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vh;
    margin-top: 5vh;

    button {
      cursor: pointer;
      padding: 1vh 4vh;
      min-width: 17vh;
      color: white;
      font-size: 5vh;
      text-shadow: 0px 0px 1.5vh red, ;
      font-family: "Chiller";
      z-index: 10;
      background-image: url(./img/win-back.jpeg);
      background-size: 300% 300%;

      &:hover {
        box-shadow: 0px 0 3px 3px rgba(255, 255, 255, 0.2);
      }

      &:active {
        box-shadow: 0px 0 3px 3px rgba(255, 255, 255, 0.2);
        color: rgb(240, 205, 205);
      }
    }
  }
}

.c-red {
  color: #CB0000 !important;
}

.Score {
  position: fixed;
  top: 1vh;
  right: 7vw;
  width: fit-content;
  height: fit-content;
  min-width: 20vh;
  padding: 0.5vh 1.5vh;
  border-radius: 1.5vh;
  background-image: url(./img/treasure-back.jpg);
  border-top: 0.6vh ridge #ffb000 !important;
  border-left: 0.6vh groove #ffb000 !important;
  border-right: 0.6vh ridge #ffb000 !important;
  border-bottom: 0.6vh groove #ffb000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    font-family: "Chiller";
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.3vh;
    color: white;
  }
}

.WinPage {
  .container {
    .game {
      background-image: url('./img/treasure-back.jpg') !important;
      background-size: cover;
      height: 130vh;
      margin-top:-3vh;
      margin-left:-23vw;
    }
  }

  .button {
    cursor: pointer;
    position: absolute;
    left: 26vw;
    height: 12vh;
    bottom: 10vh;
    width: 48vw;
    padding: 1vh 3vh;
    border-radius: 6vh;
    line-height: 2.5vh;
    font-size: 2vh;
    font-weight: 600;
    box-sizing: border-box;
    animation: pop-up 10s linear 1;
    border: 0.3vh solid #cb0000;
    background-image: linear-gradient(-180deg, #a70606 0%, #640e0e 100%);
    box-shadow: 0 1rem 3vh 0 rgba(93, 6, 5, 0.5),
      0 -0.25rem 1.5rem rgb(145, 22, 3) inset,
      0 0.75rem 0.5rem rgba(114, 47, 47, 0.4) inset,
      0 0.25rem 0.5rem 0 rgb(144, 31, 5) inset;

    span {
      color: transparent;
      background-image: linear-gradient(0deg, #efe5e5 0%, #dedad9 100%);
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 6vh !important;
      margin:0;
      letter-spacing: 1vh;
      filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
    }

    &::before {
      content: "";
      display: block;
      height: 0.25rem;
      position: absolute;
      top: 1vh;
      left: 50vh;
      transform: translateX(-50%);
      width: calc(100% - 30vh);
      background: #fff;
      border-radius: 100%;
      opacity: 0.7;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
    }

    &::after {
      content: "";
      display: block;
      height: 1vh;
      position: absolute;
      bottom: 1.5vh;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 7.5rem);
      background: #fff;
      border-radius: 100%;
      filter: blur(1px);
      opacity: 0.05;
      background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
    }
  }
}

.letter {
  position: fixed;
  width: 70vw;
  height: 62vh;
  top: 10vh;
  left: 15vw;
  box-sizing: border-box;
  padding: 4vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./img/treasure-back.jpg');
  animation: pop-up 10s linear 1;
  border-radius: 4vh;
  border-top: 1.5vh ridge #ffb000;
  border-left: 1.5vh groove #ffb000;
  border-right: 1.5vh ridge #ffb000;
  border-bottom: 1.5vh groove #ffb000;
  overflow: hidden;

  p {
    font-family: "Chiller";
    font-size: 5vh;
    color: rgb(197, 8, 8);
  }
}

.msg {
  background-image: url('./img/win-back.jpeg');
  filter: brightness(85%);
  border-top: 1.5vh ridge rgb(250, 247, 247);
  border-left: 1.5vh groove rgb(250, 247, 247);
  border-right: 1.5vh ridge rgb(250, 247, 247);
  border-bottom: 1.5vh groove rgb(250, 247, 247);
  animation: pop-up2 1.5s linear 1 !important;

  p {
    margin-top: 0%;
    color: white;
    font-size: 5vh;
  }

  .p {
    margin-top: -4vh;
    color: white !important;
  }

  button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    padding: 1% 4%;
    font-size: 3.5vh;
    font-family: "Gruppo";
    font-weight: bold;
    letter-spacing: 0.6vh;
    background: transparent;
    color: white;

    &:active {
      color: grey;
    }
  }
}

.Box1 {
  height: 155vh !important;
  width: 120vw !important;
}

.Box2 {
  height: 134vh !important;
  width: 120vw !important;
}

.Box3 {
  height: 135vh !important;
  width: 130vw !important;
}

.Box4 {
  height: 102.5vh !important;
  width: 100vw !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes show1 {
  0% {
    width: 0%;
  }

  100% {
    width: 40vw;
    ;
  }
}

@keyframes show2 {
  0% {
    transform: translateX(20vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show3 {
  0% {
    width: 0%;
  }

  100% {
    width: 30vw;
  }
}

@keyframes pop-show {
  0% {
    transform: translateX(20vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0%;
  }

  80% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes pop-up2 {
  0% {
    opacity: 0%;
  }

  30% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes pop-up3 {
  0% {
    opacity: 0%;
  }

  99% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}